.logo {
  font-family: $secondary-font-family;

  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: #000;
}

.footer__logo {
  color: #fff;
}

.logo__text {
  color: $accent-color;
}
